<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="Event Register page" content="Header,body, Footer">
    <meta name="keywords" content="HTML,CSS">
    <meta name="author" content="Project">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events Register</title>
    <link rel="stylesheet" href="../css/ciudad.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <header>
    <nav>
      <div class="fit-width pos_rel" id="top">
        <div class="inline h_nav">
          <img src='../assests/images/i.jpg' alt="logo" title="Genteociudad" class="h_logo">
        </div>
        <div class="inline pos_abs hc">
          <p class="hc_name">
            <a  href="./inicio.html">Inicio</a>/
            <a href="./nosotros.html">Nosotros</a>/
                  <a href="./equipos.html">Equipos</a>/
                  <a href="WORDPRESS BLOG" >Blog</a>/
                  <a   href="./contacto.html">Contacto</a>/
                  <a href="./inicio_de_sesion.html">Inicio de Sesion</a>/
                  <a  href="./sign_up.html">Sign Up</a>
          </p>
        </div>
      </div>
            <div class="class_banner txt-cntr fit-width">
        <h1>EVENTS</h1>
        <p>
          <span>LOGIN</span> &#62;
          <span>EVENTS</span> &#62;
          <span>EVENTS REGISTER</span>
        </p>
      </div>

    </nav>
  </header>

  <body>
    <div class="er_container" style="padding: 5%;">
        <form method="POST" action = "events_register.php" enctype="multipart/form-data">
          <fieldset class="er_form">
          <h1>Create Event FORM</h1>
          <br>
          <label for="ename">Event Name</label><br>
            <input type="text" placeholder="Event Name" name="ename" required class="er_text">
            <br><br>
            <label for="edate">Event Date</label><br>
            <input type="date" class="er_datepicker" name="edate_o">
            <br><br>
            <label for="estarttime">Start Event Time</label><br>
            <input type="time" name="estarttime" required class="er_text">
            <br><br>
            <label for="elocation">Event Location</label><br>
            <input type="text" placeholder="Address of Event" name="elocation" required class="er_text">  
            <br><br>
            <label for="eimageupload">Image Upload</label><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="file" placeholder="FileUpload" name="eimageupload" id = "eimageupload" required > 
            <br><br><br><br>
            <button type="submit" class="er_button">SUBMIT</button>
            &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
            <button type="button" class="er_button">RESET</button>
          </fieldset>
        </form>
      </div>
  </body>


  <!-- Footer -->
  <footer>
    <span style="clear:both"></span>
        <div class="f">
            <div class="f_search">
                <h2>
                    <span>Contactate con</span>
                    &nbsp;<span class="active">Nosotros</span>
                    
                    <input type="text" placeholder="Email" class="ip_f">
                    <button class="f_button">ENVAR</button>
                </h2>
            </div>
        </div>
      <div class="hex-dark">
          <div class= "f_sub">
          <div  class="f_icons">
        <img src="../assests/images/mail.png" title="Mail">
        </div>
        <div   class="f_icons">
            <img src="../assests/images/twitter.png" title="Twitter">
            </div>
            <div   class="f_icons">
                <img src="../assests/images/instagram.png" title="Instagram">
                </div>
    </div>
      </div>
    <div class="f_bottom">
        <span class="active">DiazApps</span> &copy;&nbsp;
        <span style="opacity: 0.6;">2020 All Rights Reserved</span>
    </div>
  </footer>
      <div class="scroll_top"> 
      <a href="#top">&and;</a>
    </div>
</html>
